body{
    background-color: black;
    border: 1px;
}
h1{
    color: goldenrod;
    text-align: center;
}
h2, h4{
    color: antiquewhite;
    text-align: center;
}
h3{
    color: whitesmoke;
}
label, p{
    color: antiquewhite;
    border: 1px;
}
a{
    color: blue;
    
}
button{
    border: 2px solid gold;
    background-color: aquamarine;
    padding: 10px;
}
button:hover{
    color: rgb(0, 0, 0);
}
a:link{
    color: red;
}
a:hover{

    color: brown;
}
a:active{
    color: violet;
}